@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@layer components {
  .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
  }
  .loader::before {
    border-color: #3372f0 #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  .loader::after {
    margin: 8px;
  }

  /* Loader inferior */
  .loaderText {
    width: fit-content;
    font-size: 40px;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background:
      conic-gradient(from -135deg at 100% 50%, #000 90deg, #0000 0) text
        no-repeat,
      conic-gradient(from -135deg at 1lh 50%, #0000 90deg, #000 0) text
        no-repeat;
    animation: l6 2s linear infinite;
  }
  .loaderText:before {
    content: "Cargando...";
  }
}

@layer utilities {
  @keyframes l16 {
    100% {
      transform: rotate(1turn);
    }
  }

  @keyframes l6 {
    0% {
      background-size: 0 200%;
      background-position:
        0 0,
        100% 0;
    }
    50% {
      background-size: calc(60% + 0.5lh) 200%;
      background-position:
        0 0,
        100% 0;
    }
    50.01% {
      background-size: calc(60% + 0.5lh) 200%;
      background-position:
        0 100%,
        100% 100%;
    }
    100% {
      background-size: 0 200%;
      background-position:
        0 100%,
        100% 100%;
    }
  }
}
